<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/mainpage1_copy.css">
  <link rel="stylesheet" href="/CSS/teamproject.css">
  <link rel="stylesheet" href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css">
  <title>Team Project</title>
</head>
<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="/images/stackflow_light.png" alt="logo">
        <div class="logo_name">StackFlow</div>
      </div>
      <i class='bx bx-menu' id="btn"></i> 
    </div>
    <ul class="nav_list">
      <li>
        <i class='bx bx-search' id="search"></i> 
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/stack">
          <i class='bx bx-layers' id="stack"></i>
          <span class="links_name">Stack</span>
        </a>
        <span class="tooltip">Stack</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-dashboard'></i> 
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-clipboard-detail'></i> 
          <span class="links_name">Question</span>
        </a>
        <span class="tooltip">Question</span>
      </li>
      <li>
        <a href="../teamproject">
          <i class='bx bx-message'></i> 
          <span class="links_name">Team Project</span>
        </a>
        <span class="tooltip">Team Project</span>
      </li>
      <li>
        <a href="../portfolio">
          <i class='bx bx-folder'></i> 
          <span class="links_name">Portfolio</span>
        </a>
        <span class="tooltip">Portfolio</span>
      </li>
      <li>
        <a href="../mainpage">
          <i class='bx bx-home'></i> 
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li id="adminMenu" style="display: none;">
        <a href="../admin">
          <i class='bx bx-user-check'></i>
          <span class="links_name">Management</span>
        </a>
        <span class="tooltip">Management</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i> 
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
        <div class="profile_details">
          <img src="/images/profile.png" alt="">
          <div class="name_job">
            <div class="name"></div>
            <div class="job"></div>
          </div>
        </div>
        <i class='bx bx-arrow-in-right-square-half' id="log_in"></i> 
        <i class='bx bx-arrow-out-left-square-half' id="log_out"></i> 
      </div>
    </div>
  </div>
  <div class="home_content">
    <section class="hero">
      <div class="hero-header">
        <h1 class="text">팀 프로젝트</h1>
        <button class="btn-create-project" id="createBtn">프로젝트 생성</button>
      </div>
    </section>
    <section class="project-area">
      <div class="grid-container" id="grid"></div>
    </section>
  </div>

  <script src="/js/mainpage1_copy.js"></script>
  <script src="/js/teamproject.js"></script>
</body>
</html>